<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.DiaryMapper">

	<select id="findAll" resultType="com.memoblend.applicationcore.diary.Diary">
		SELECT * FROM diaries
		WHERE is_deleted = false
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.diary.Diary">
		SELECT * FROM diaries
		WHERE id = #{id}
		AND is_deleted = false
	</select>

	<select id="findByUserId" resultType="com.memoblend.applicationcore.diary.Diary">
		SELECT * FROM diaries
		WHERE user_id = #{userId}
		AND is_deleted = false
	</select>
	
	<insert id="add" parameterType="com.memoblend.applicationcore.diary.Diary" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO diaries (user_id, title, content, created_date)
		VALUES (#{userId}, #{title}, #{content}, #{createdDate})
	</insert>

	<update id="delete" parameterType="long">
		UPDATE diaries
		SET is_deleted = true
		WHERE id = #{id}
	</update>

	<update id="update" parameterType="com.memoblend.applicationcore.diary.Diary">
		UPDATE diaries
		SET title = #{title}, content = #{content}, created_date = #{createdDate}
		WHERE id = #{id}
		AND user_id = #{userId}
	</update>
	
</mapper>