<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.UserMapper">

	<select id="findAll" resultType="com.memoblend.applicationcore.user.User">
		SELECT * FROM users
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.user.User">
		SELECT * FROM users WHERE id = #{id}
	</select>
	
	<insert id="add" parameterType="com.memoblend.applicationcore.user.User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users (name)
		VALUES (#{name})
	</insert>
	
	<delete id="delete" parameterType="long">
		UPDATE users
		SET is_deleted = true
		WHERE id = #{id}
	</delete>

	<update id="update" parameterType="com.memoblend.applicationcore.user.User">
		UPDATE users
		SET name = #{name}
		WHERE id = #{id}
	</update>
	
</mapper>