<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.UserMapper">

	<resultMap id="UserMap" type="com.memoblend.applicationcore.user.User">
		<id column="id" property="id.value" />
		<result column="name" property="name.value"/>
		<result column="is_deleted" property="isDeleted.value" />
	</resultMap>

	<select id="findAll" resultMap="UserMap">
		SELECT id, name, is_deleted FROM users
		WHERE is_deleted = false
	</select>

	<select id="findById" resultMap="UserMap">
		SELECT id, name, is_deleted FROM users 
		WHERE id = #{id}
		AND is_deleted = false
	</select>
	
	<insert id="add" parameterType="com.memoblend.applicationcore.user.User" useGeneratedKeys="true" keyProperty="id.value">
		INSERT INTO users (name, is_deleted)
		VALUES (#{name.value}, false)
	</insert>
	
	<update id="delete" parameterType="long">
		UPDATE users
		SET is_deleted = true
		WHERE id = #{id}
	</update>

	<update id="update" parameterType="com.memoblend.applicationcore.user.User">
		UPDATE users
		SET name = #{name.value}
		WHERE id = #{id.value}
	</update>
	
</mapper>
