<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memoblend.infrastructure.repository.mapper.UserMapper">

	<select id="findAll" resultType="com.memoblend.applicationcore.user.User">
		SELECT * FROM users
	</select>

	<select id="findById" resultType="com.memoblend.applicationcore.user.User">
		SELECT * FROM users WHERE user_id = #{userId}
	</select>
	
	<insert id="add" parameterType="com.memoblend.applicationcore.user.User">
		INSERT INTO users (user_id, user_name)
		VALUES (#{userId}, #{userName})
	</insert>

    <delete id="delete" parameterType="com.memoblend.applicationcore.user.User">
		DELETE FROM users WHERE user_id = #{userId}
	</delete>

	<update id="update" parameterType="com.memoblend.applicationcore.user.User">
		UPDATE users
		SET user_name = #{userName}
		WHERE user_id = #{userId}
	</update>
	
</mapper>