[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "0.34.0"
httpx = "0.28.1"
fastapi = {extras = ["all"], version = "0.115.11"}
openai = "1.68.2"

[requires]
python_version = "3"

[dev-packages]
